@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: #ff3364;
  --mid-grey: #8e93a1;
  --dark-grey: #555a65;
  --dark-cyan: #083763;
  --light-grey: #f4f4f4;
}

header {
  @apply text-white p-4 flex items-center fixed gap-4 w-full bg-[var(--primary-red)] z-10;
}

body {
  font-family: "sofia-pro", "Arial", sans-serif !important;
  font-weight: 400;
  @apply font-medium text-[var(--mid-grey)] text-sm;
}

.login-form-bg {
  background-image: url("./Ressource/image-login-7Speaking.f8bd740d.jpg");
  @apply bg-cover bg-no-repeat bg-center min-h-screen flex items-center justify-center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @apply w-full px-4 py-2 mt-2 border border-[var(--mid-grey)] placeholder-[var(--mid-grey)] text-[var(--dark-grey)] rounded-lg hover:border-black focus:outline-none;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-[500] text-center text-gray-600 mb-6;
}

.primary-btn {
  @apply w-full bg-[var(--primary-red)] text-white py-2 rounded-lg hover:opacity-75 transition duration-300;
}

.modal-bg {
  @apply bg-black/50 w-screen h-screen fixed top-0 left-0 z-50 flex items-center justify-center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  background-color: white;
  margin-bottom: 20px;
}

nav .left,
nav .center,
nav .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .center {
  gap: 15px;
  font-size: 14px;
  color: #444;
}

nav .badge {
  background-color: #f43f5e;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
}

nav .yellow-tag {
  background-color: #facc15;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

nav button {
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

nav .study {
  background-color: #facc15;
}

nav .test {
  background-color: #f43f5e;
}

.white-card {
  @apply p-8 bg-white rounded-lg w-96;
}

.answer-btn {
  @apply w-full transition-all ease-in-out p-2 rounded-lg cursor-pointer text-black/75 bg-[#f5f5f8] hover:bg-[#d5d5d5] border-2;
}
