@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: #ff3364;
  --mid-grey: #8e93a1;
  --dark-grey: #555a65;
  --dark-cyan: #083763;
  --light-grey: #f4f4f4;
  --primary-yellow: #fcc163;
}

header {
  @apply text-white p-4 flex items-center fixed gap-4 w-full bg-[var(--primary-red)] z-10;
}

body {
  font-family: "sofia-pro", "Arial", sans-serif !important;
  font-weight: 400;
  @apply font-medium text-[var(--mid-grey)] text-sm bg-[var(--light-grey)];
}

html,
body {
  @apply overflow-x-hidden min-h-screen;
}

.login-form-bg {
  background-image: url("./Ressource/image-login-7Speaking.f8bd740d.jpg");
  @apply bg-cover bg-no-repeat bg-center min-h-screen flex items-center justify-center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @apply w-full px-4 py-2 mt-2 border border-[var(--mid-grey)] placeholder-[var(--mid-grey)] text-[var(--dark-grey)] rounded-lg hover:border-black focus:outline-none resize-none;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-[500] text-center text-gray-600 mb-6;
}

.primary-btn,
.secondary-btn {
  @apply w-full text-white p-2 rounded-lg hover:opacity-75 text-nowrap transition duration-300;
}

.primary-btn {
  @apply bg-[var(--primary-red)];
}

.secondary-btn {
  @apply bg-[var(--primary-yellow)];
}

.yellow-tag,
.red-tag {
  @apply text-white px-2 py-1 rounded-lg;
}

.yellow-tag {
  @apply bg-[var(--primary-yellow)];
}

.red-tag {
  @apply bg-[var(--primary-red)];
}

.modal-bg {
  @apply bg-black/50 w-screen h-screen fixed top-0 left-0 z-50 flex items-center justify-center;
}

.white-card {
  @apply p-8 bg-white rounded-lg w-96;
}

.answer-btn {
  @apply w-full transition-all ease-in-out p-2 rounded-lg cursor-pointer text-black/75 bg-[#f5f5f8] hover:bg-[#d5d5d5] border-2;
}
